$primary-color: #272727;
$secondary-color: #ff652f;
/* $image-model: 'https://images.unsplash.com/photo-1545114599-c62d273c603b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80'; */
$image-model: 'https://images.unsplash.com/photo-1541747157478-3222166cf342?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1334&q=80';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

@function set-text-color($color) {
  @if (lightness($color) >40%) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1600px) {
    @content;
  }
}

/*  */
@mixin flexCenter($content: center) {
  display: flex;
  justify-content: $content;
  align-items: center;
}

@mixin backgroundImage {
  background: linear-gradient(
      to right,
      rgba($primary-color, 0.9),
      rgba($primary-color, 0.3)
    ),
    url($image-model) fixed top;
  background-size: cover;
}
